rsync --verbose --archive --delete -z --copy-links --chmod=ug=rwX,o=rxX --no-perms --no-owner --no-group --rsync-path "sudo rsync" -e "/cygdrive/d/cwRsync/bin/ssh -o  StrictHostKeyChecking=no -o IdentitiesOnly=true -o UserKnownHostsFile=/dev/null -p 2222 -l username -i /cygdrive/e/versioncontrol/doubangit/code/devkey" --exclude .vagrant/ --exclude .git/ /cygdrive/e/versioncontrol/doubangit/code/testmount/ vagrant@127.0.0.1:/home/vagrant/testmount